body {
  margin: 0%;
  padding: 0%;
}
section {
  font-family: sans-serif;
  width: 40%;
  margin: 0% auto;
  padding: 0%;
  background: white;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgb(0, 0, 0,0.3);
}
.url {
  background: url(../image-assets/PM-Holiday-Image1.jpg);
  background-size: cover;
  padding: 110px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.grn {
  background: rgba(225, 225, 225, 0.8);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}
h1 {
  margin: 0%;
  color: #be0f34;
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: 700;
}
h4.en{
  text-align: center;
  padding: 30px 20px;
  font-size: 24px;
  font-weight: 400;
  margin: 0%;
  color: #4a4a4a;
}
.left {
  margin-left: 3%;
}
.box {
  background: #be0f34;
  margin-bottom: 5%;
}
h3.mk {
  margin-top: 0%;
  padding-top: 3%;
  text-align: center;
  color: white;
  margin-bottom: 0%;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 2%;
}

p.wo {
  color: white;
  text-align: center;
  padding-bottom: 3%;
  margin-bottom: 10%;
  margin-top: 0%;
}
a.hf {
  text-decoration: none;
  border-radius: 5px;
  border: 4px solid #be0f34;
  background: white;
  color: #be0f34;
  padding: 3px;
  margin-left: 30%;
}
a.hf:hover{
  background: #be0f34;
  color: white;
}
.drop {
  background: #be0f34;
  padding: 15px;
  margin: 0%;
  margin-top: 5%;
}
.social-media {
  text-align: center;
}
img.ass {
  padding: 6px;
}
h5.foll {
  margin-bottom: 0%;
  text-align: center;
  color: white;
  margin-top: 2%;
}
span.copy {
  /* margin-top: 3%; */
  color: #4a4a4a;
  font-size: 14px;
}
p.un {
  padding-bottom: 1%;
  margin: 0%;
  color: #4a4a4a;
  font-size: 14px;
  padding-top: 1px;
}
a.ref {
  color: #4a4a4a;
}
a.ref:hover{
  color: #be0f34;
}
.bar {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  h1{
    font-size: 35px;
  }
  .col-lg-6 {
    margin-bottom: 4%;
  }
  .grn {
    background: rgba(225, 225, 225, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
}